@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap');

@tailwind base;

.font-sans-kr {
  font-family: "Noto Sans KR", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.font-sans-kr-bold {
  font-family: "Noto Sans KR", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
}

.font-sans-kr-light {
  font-family: "Noto Sans KR Light", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 300
}


@tailwind components;
@tailwind utilities;


.login-button{
  background-color: rgba(99,102,241,0.8);
}

.login-button:hover{
  background-color: rgba(71, 74, 236, 0.8);
  color: white;
}

.snowflake{
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  top:-8px;
  z-index: 9999;

}

.snowflake-void{
  height: 100vh;
  position: fixed;
  top:-8px;
  z-index: 9999;
  font-size: 30px;}

@keyframes snowFall {
  0% {
  }
  100% {
    transform: translateY(100%);
  }
}